.bus-banner, .image-infront{
  padding: auto;
  padding-left: 300px;
  margin-top: 20px;
  background-image: none;
}
.offers-button{
  text-align: center;
  padding: auto;
  padding-left: 300px;
  margin-top: 20px;
  background-image: none;
  border-color: greenyellow;
}